.page-container {
  background-color: #212121;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}
.page {
  display: flex;
  justify-content: center;
  height: 800px;
  width: 1200px;
  color: white;
}

.page1 {
  font-size: 46px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

.page1-header {
  font-weight: 100;
}
.page1-buttons {
  display: flex;
  margin-top: 60px;
}

.page1-buttons > button {
  border: none;
  background-color: #0d7377;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 16px 36px;
  opacity: 0.9;
  transition: opacity 0.2s ease-in;
  margin-right: 20px;
}

.page1-buttons > button:hover {
  cursor: pointer;
  opacity: 1;
}

.page1-image {
  margin-top: 100px;
  background-color: white;
  width: 50%;
  height: 60%;
  border-radius: 10px;
}
.page1-right {
  margin-left: 60px;
  width: 40%;
  margin-top: 100px;
}

.page1-right > h2 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 60px;
}

.page2 {
}

.page3 {
}
