/* TODO Add site wide styles */
html {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box !important;
}

body {
  margin: 0 !important;
  background-color: #f4f2fa !important;
}
