.diary-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 30px auto;
}
.diary-header {
  display: flex;
  align-items: center;
}

.diary-header-text {
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
}
.date-input {
  background: #325288;
  color: white;
  display: inline;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 35px;
  position: relative;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.diary-food-container {
  background-color: white;
  border-radius: 10px;
  border: #bac0cc solid 1px;
  margin-top: 2%;
  padding: 20px;
}

.diary-meal-containers {
  border-bottom: #bac0cc solid 1px;
}

.diary-meal-label {
  font-weight: bold;
  font-size: 20px;
}
.diary-food-header {
  display: flex;
  justify-content: space-between;
  border-bottom: #bac0cc solid 1px;
}
.diary-container-label {
  font-weight: bolder;
  font-size: 27px;
}

.add-meals {
  color: rgb(0, 179, 0);
  margin-left: 10px;
}

.add-meals:hover {
  cursor: pointer;
  color: rgb(0, 148, 0);
}

.diary-meal-subcontainer {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total-calories-container {
  display: flex;
  justify-content: space-between;
}

.total-calories-container > * {
  font-weight: bold;
}

.diary-meal-calories {
  display: flex;
  flex-wrap: row nowrap;
  position: relative;
}
.diary-meal-calories-text {
  min-width: 30px;
  text-align: right;
}
.calories-buttons {
  display: flex;
  position: absolute;
  top: 3px;
  left: 50px;
}

.calories-edit {
  color: #325288;
}

.calories-remove {
  color: rgb(196, 0, 0);
}

.calories-remove:hover {
  color: red;
  cursor: pointer;
}

.calories-edit:hover {
  color: #436fbb;
  cursor: pointer;
}
