.add-meal-container {
  display: flex;
  justify-content: space-between;
}

.add-meal-left {
  display: flex;
  flex-direction: column;
}

.add-meal-right {
  display: flex;
  flex-direction: column;
}

.search-results {
  position: absolute;
  max-height: 100px;
  width: 182px;
  top: 80px;
  overflow: auto;
  cursor: pointer;
}

.add-meal-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.modal-content {
  width: 600px;
  margin: auto;
}

.modal-btn {
  background-color: #325288;
  font-weight: bold;
}
.fa-eraser {
  margin-left: 5px;
  color: #325288;
}

.fa-eraser:hover {
  cursor: pointer;
}

.food-confirmed {
  position: absolute;
  top: 80px;
  color: rgb(0, 150, 62);
  font-weight: bold;
}
